.bg {
  width: 100vw;
  height: 100vh;
  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-thumb {
    background: #cbcbcbd8;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #cbcbcbd8 #f0f0f0;
  }

  /* Hide scrollbar */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none;
  }
}
