.bg {
  /* background-image: linear-gradient(
    to bottom,
    #abc0c9,
    #9dbdcb,
    #8fb9cd,
    #80b6cf,
    #70b2d1
  ); */
  /* background-image: linear-gradient(
    to top,
    #70b2d1,
    #86bed9,
    #9bcbe2,
    #b0d7ea,
    #c4e4f3
  ); */
  width: 100vw;
  height: 100vh;
  background: rgb(207, 255, 231);
  background: -moz-linear-gradient(
    0deg,
    rgba(207, 255, 231, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(207, 255, 231, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(207, 255, 231, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfffe7",endColorstr="#ffffff",GradientType=1);
  /* background: rgb(13, 7, 31);
  background: -moz-linear-gradient(
    0deg,
    rgba(13, 7, 31, 1) 0%,
    rgba(17, 34, 106, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(13, 7, 31, 1) 0%,
    #11226a 100%
  );
  background: linear-gradient(
    0deg,
    rgba(13, 7, 31, 1) 0%,
    rgba(17, 34, 106, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d071f",endColorstr="#11226a",GradientType=1); */
}
